.container {
    width: 0;
    height: 260px;
    padding: 10px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    flex-grow: 2;
    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
            font-size: 18px;
            padding-left: 10px;
            color: black;
            font-weight: 500;
            white-space: nowrap;
            word-break: keep-all;
        }

        .tabs {
            display: flex;
        }
    }

    .chart {}
}


.tab {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
    .left {
        width: 4px;
        height: 10px;
        background: #F5A623;
        border-radius: 2px;
        visibility: hidden;
        margin-right: 2px;
    }

    .text {
        font-size: 0.9rem;
        word-break: break-all;
        white-space: nowrap;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #858B9C;
        line-height: 17px;
    }

}

.activeTab {
    background: #F3F4F7 !important;
    border-radius: 4px !important;
    .left {
        visibility: visible;
    }
    .text{
        color: #41485D;
    }
}