.header {
    height: 50px;
    background-color: #7b8bd2;
    min-width: 800px;
    color: white;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10rem;
}

.logo {
    margin-left: 20px;
    margin-right: 20px;
}

.tab{
    font-size: 18px;
    font-weight: 400;
    white-space: nowrap;
    padding: 0 20px;
    border-radius: 10px 10px 0 0;
    line-height: 50px;
    height: 100%;
    min-width: 100px;
    text-align: center;
}

.activeTab{
    @extend .tab;
    background-color: #fbc000;
    color: #0a0a0a;
}

.tabs {
    display: flex;
    color: rgba(255, 255, 255, 0.5);
    font-family: nasalization;
    font-weight: 400;
    white-space: nowrap;
    font-size: 14px;

}

.menuLayout {
    position: absolute;
    top: 30px;
    left: 0;
    display: flex;
    flex-direction: column;
    min-width: 10rem;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    background-color: white;

    .menuItem {
        color: #16181b;
        font-family: nasalization;
        font-weight: 400;
        width: 100%;
        white-space: nowrap;
        font-size: 14px;
        padding: 0.5rem 2rem;
        cursor: pointer;

        &:hover {
            background-color: #f8f9fa;
            text-decoration: none;
        }
    }
}